@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.txt-ellipsis{
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}


/*
.text-ellipsis {
    텍스트를 감싸고 있는 부모요소가 공백을 만났을 때 어떻게 처리할 것인지에 대한 속성
    white-space: nowrap;
    overflow: hidden;
    말줄임 만들기  패딩 값 조정으로 말줄임 표시와 버튼 이미지가 겹치는 것을 막아줄 수 있다.
    text-overflow: ellipsis;
}
*/

.cont-select{
    width: 200px;
    margin: 100px auto 0;
}

.btn-select{
    width: 100%;
    padding: 13px 20px 13px 14px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: left;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    background: url(images/toggle_down.png) no-repeat;
    background-position: right 14px center;
    cursor: pointer;
}

.btn-select.on{
    background-image: url(images/toggle_up.png);
}

.btn-select:hover{
    border: 1px solid #9B51E0;
    outline: 3px solid #F8E4FF;
}

.btn-select.on+.list-member{
    display: block;
}

.list-member{
    display: none;
    margin-top: 9px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.list-member li{
    padding:  5px 8px 5px 8px;
}

.list-member li button{
    display: block;
    width: 100%;
    padding: 7px 10px;
    border: none;
    border-radius: 8px;
    background-color: #FFFFFF;
    cursor: pointer;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: left;
    
}

.list-member li button:hover,.list-member li button:focus{
    background-color: #F8E4FF;
}