@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}

.btn-select{
    width: 205px;
    padding: 12px 14px 12px 14px;
    border: solid 1px #C4C4C4;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
    background-color: white;
    margin-bottom: 9px;
    text-align: left;
}

.btn-select::before{
    content: url(images/toggle_up.png);
    display: block;
    margin-right: 0;
}

.btn-select:hover{
    border: solid 1px #9B51E0;
}

.list-member{
    width: 188px;
    border: solid 1px #C4C4C4;
    border-radius: 10px;
    padding: 5px 8px;
}

.list-member.on {
    display: block;
}

.list-member li{
    text-align: left;
    padding: 0px 5px 8px;
}

.list-member li button {
    display: block;
    width: 100%;
    border: none;
    padding: 7px 0px 7px 10px;
    background-color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
}

.list-member li button:hover{
    border-radius: 8px;
    background-color: #F8E4FF;
}
