@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}

.btn-select{
    width: 218px;
    border: solid 1px #9B51E0;
    border-radius: 10px;
    padding: 12px 0 12px 14px;
    font-size: 14px;
    font-weight: bold;
    background-color: white;
    margin-bottom: 9px;
    text-align: left;
}


.list-member{
    width: 200px;
    border: solid 1px #C4C4C4;
    border-radius: 10px;
    padding: 5px 8px;
}

.list-member.on {
    display: block;
}

.list-member li{
    text-align: left;
}

.list-member li button {
    display: block;
    border: none;
    width: 200px;
    padding: 7px 0px 7px 4px;
    background-color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
}

.list-member li button:hover{
    border-radius: 8px;
    background-color: #F8E4FF;
}
